
body {
font-family: Verdana;
background-color: black;
text-align: center;
}

h1
{
font-weight: normal;
font-size: 50px;
color: white;
text-align: center;
letter-spacing: -1px;
}
.download
{
color: aquamarine;
font-weight: normal;
font-size: 16px;
}
#video
{
text-align: center;
}
h2
{
  color: white;
  font-weight: 300;
  font-size: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
}
p
{
font-size: 21px;
color: gray;
}
.images
{
  text-align: center;

}
#phoneicon
{
  padding-top: 20px;
}
.footer
{
  text-align: right;
  color: gray;

}
